$blue: #005DAB;
$gray: #77787B;
$light-gray: #CCCCCC;
$white: #FFFFFF;
$midnight-blue: #00275A;

// GMF colors
$sky-blue: #009DDC;
$green: #8BCC12;
$orange: #FF6F00;
$black: #000000;

// OPEL colors
$opel-light-gray: #F3F3F3;
$opel-dark-gray: #B4BBBF;
$opel-yellow: #F7D900;

// CHEVROLET colors
$chev-yellow: #E1B334;
$chev-gray: #4A4D52;

// VAUXH colors
$vauxh-red: #C00000;

// MG colors
$mg-red: #ED2D2F;
$mg-gray: #77787B;
